@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

nav h2 {
    text-align : center;
    background-color : #d16d57;
    width : 28%;
    border-radius : 5px;
    font-size : 18px;
    margin : auto;
    padding : 5px;
    margin-top : 10px;
}

nav ul li {
    list-style : none;
    display : inline;
    border : 1px solid rgb(196, 196, 196);
    margin : 5px;
    border-radius : 10px;
    color : #901C1C;
    font-weight : bold;
    font-size : 13px;
    padding : 1px;
    text-align: center;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
    margin-top : 60px;
}

.logo {
    height: 50px;
    margin-left: 100px;
    margin-top : 50px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
}